.contacts{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;

    .contactswrapper{
        width: min(1256px, 85%);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 200px;
        gap: 30px;

        .contactinfo{
            display: flex;
            flex-direction: column;
            gap: 17px;
            align-items: flex-start;
            margin-top: 50px;

            h1{
                font-weight: $font-w-600;
                font-family: $font-clashdisplay;
                font-size: 32px;
                color: $color-main;
            }

            p{
                color: $white;
                font-weight: $font-w-400;
                font-family: $font-montserrat;
            }

            p:nth-of-type(3){
                margin-top: 4px;
            }

            h3{
                color: $color-main;
                font-size: $font-16;
                font-family: $font-montserrat;
                font-weight: $font-w-400;
            }
        }
    
        .contactform{
            display: flex;
            flex-direction: column;
            height: 611px;
            width: min(617px, 60%);
            align-items: center;
            border-radius: 12px;
            background: rgba(255, 255, 255, 0.03);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            margin-bottom: 20px;
            justify-content: center;
    
            form{
                display: flex;
                flex-direction: column;
                width: min(437px, 75%);
                align-items: center;
                gap: 32px;

                .formheader{
                    align-self: flex-start;

                    h3{
                        color: $color-main;
                        font-size: $font-16 + 4;
                        font-family: $font-clashdisplay;
                    }
                }

                p{
                    display: none;
                }
    
                input{
                    width: 94%;
                    height: 40px;
                    padding-left: 20px;
                }
    
                textarea{
                    width: 94%;
                    height: 119px;
                    padding: 10px;
                }

                input, textarea{
                    outline: none;
                    color: $white;
                    font-size: $font-16 - 2;
                    font-family: $font-montserrat;
                    border-radius: 4px;
                    border: 1px solid #FFF;
                    background: rgba(255, 255, 255, 0.03);
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                }

                input::placeholder, textarea::placeholder{
                    color: $white;
                    font-size: $font-16 - 2;
                    font-family: $font-montserrat;
                }
            }

            .mobileformsocials{
                display: none;
            }
        }
    }

    .contactgradient{
        width: min(600px, 100%);
        height: min(600px, 100%);
        background-image: radial-gradient(circle,#450981 -56%,#140D27 69%,rgba(21,14,40,.6616771708683473) 87%);
        border-radius: 50%;
        position: absolute;
        z-index: -1;
    }
    .contactgradient1{
        top: 0;
        left: 0;
    }
    .contactgradient2{
        right: -100px;
        width: min(600px, 100%);
        height: min(600px, 100%);
        bottom: -200px;
    }
}


@media (max-width: 830px) {
    .contacts{
        .contactswrapper{
            flex-direction: column;
            align-items: center;
            margin-top: 130px;
            gap: 50px;

            .contactinfo{
                width: 90%;
            }
            .contactform{
                width: 90%;
            }
        }
    }
}

@media (max-width: 450px) {
    .contacts{
        padding-bottom: 36px;
        .contactswrapper{
            .contactinfo{
                display: none;
            }

            .contactform{
                width: 100%;
                background-color: transparent;
                box-shadow: none;

                form{

                    p{
                        display: block;
                        color: $white;
                        font-family: $font-montserrat;
                        font-size: $font-16 - 4;
                        width: 240px;
                        align-self: flex-start;
                    }
                }

                .mobileformsocials{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    margin-top: 40px;
                    align-items: center;

                    p{
                        font-family: $font-montserrat;
                        color: $color-main;
                        font-size: $font-16 - 4;
                    }

                    img{
                        width: 89px;
                    }
                }
            }
        }

        .contactgradient1{
            // background: red;
            width: 400px;
            height: 400px;
            top: 50px;
            left: -50px;
        }

        .contactgradient2{
            display: none;
        }
    }
}