.button{
    color: $white;
    border-radius: 4px;
    font-size: $font-16;
    font-family: $font-montserrat;
    border: none;
    padding: 17px 52px;
    cursor: pointer;
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
}