.criteria{
    width: 100%;
    padding: 100px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    display: grid;
    place-items: center;
    position: relative;

    .criteriawrapper{
        width: min(1256px, 90%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        .criteriaimg{
            width: min(610px, 50%);

            img{
                width: 100%;
                display: block;
            }
        }

        .criteriacontents{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 25px;
            width: 535px;
            // background-color: red;

            h1{
                width: 270px;
                font-family: $font-clashdisplay;
                color: $white;
                font-size: $font-30 + 2;
                font-weight: $font-w-700;

                span{
                    color: $color-main;
                }
            }

            p{
                color: $white;
                font-size: $font-16 - 2;
                font-weight: $font-w-400;
                font-family: $font-montserrat;
                line-height: 173.5%;

                span{
                    font-size: $font-16;
                    color: #FF26B9;
                    font-weight: $font-w-700;
                }
            }
        }
    }

    .criteriagradient{
        width: min(600px, 100%);
        height: min(600px, 100%);
        background-image: radial-gradient(circle, $gradient-color -56%,#140D27 69%,rgba(21,14,40,.6616771708683473) 87%);
        border-radius: 50%;
        position: absolute;
        z-index: -1;
    }
    
    .criteriagradient1{
        bottom: -100px;
        left: 0;
    }

    .criteriagradient2{
        right: -100px;
        bottom: -300px;
    }
}


@media (max-width: 850px) {
    .criteria{
        .criteriawrapper{
            flex-direction: column;
        }

        .criteriagradient1{
            top: 200px;
            left: -100px;
        }
        
        .criteriagradient2{
            bottom: -150px;
        }
    }
}

@media (max-width: 1080px) {
    .criteria{

        .criteriagradient2{
            width: 400px;
            height: 400px;
            right: -30px;
        }
    }
}

@media (max-width: 645px) {
    .criteria{
        padding: 50px 0;
    
        .criteriawrapper{

            .criteriaimg{
                width: 90%;
            }
    
            .criteriacontents{
                width: 95%;
                align-items: center;
                margin-top: 30px;
    
                h1{
                    font-size: $font-16 + 4;
                    text-align: center;
                }
    
                p{
                    text-align: center;
                    font-size: $font-16 - 4;

                    span{
                        font-size: $font-16 - 3;
                    }
                }
            }
        }

        .criteriagradient2{
            bottom: -30px;
            right: -150px;
        }

        .criteriagradient1{
            top: 100px; 
            width: 400px;
            height: 400px;
            left: -100px;
        }
    }
}