.herosection{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;


    .herosectionwrapper{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        min-height: 110vh;
        margin-top: 120px;
        width: min(1256px, 93%);
        position: relative;

        .text-line{
            position: absolute;
            top: 0px;
            right: 70px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            h1{
                color: $white;
                font-style: italic;
                font-size: $font-30 + 2;
                font-family: $font-montserrat;
                font-weight: $font-w-700;
            }

            img{
                width: min(245px, 35%);
            }
        }

        .herosectioncontents{
            display: flex;
            flex-direction: column;
            gap: 77px;
            width: min(750px, 100%);
            margin-bottom: 100px;

            .herosectioncontent{
                display: flex;
                flex-direction: column;
                gap: 10px;
                
                .star{
                    position: absolute;
                    top: 20px;
                    left: 5%;
                }
                
                .heresectionheadingtext_chain_spark{
                    display: flex;
                    align-items: flex-end;
                    position: relative;

                    h1{
                        color: $white;
                        font-family: $font-clashdisplay;
                        font-weight: $font-w-700;
                        font-size: $font-50 + 20;
                        position: relative;

                        .bulb{
                            position: absolute;
                            width: 53px;
                            top: -50px;
                            right: 20px;
                        }

                        span{
                            color: $color-main;
                        }
                    }

                    .spark_chain{
                        position: absolute;
                        right: -23%;
                        width: 25%;
                        margin-bottom: 10px;
                    }
                }

                .heresectionheadingtext_chain_sparkmobile{
                    display: none;
                }

                p{
                    width: 522px;
                    color: $white;
                    font-size: $font-16 + 4;
                    font-family: $font-montserrat;
                    line-height: 166%;
                    font-weight: $font-w-400;
                }

                button{
                    margin-top: 31px;
                }
            }
            .timer{
                position: relative;

                .lightstar{
                    position: absolute;
                    right: 100px;
                    top: -50px;
                }
            }

        }

        .herosectionimg{
            width: inherit;

            div{
                position: relative;

                .landingimg{
                    mix-blend-mode: luminosity;
                    width: 100%;
                }

                .disco{
                    width: 90%;
                    left: 20px;
                    z-index: 1;
                    position: absolute;
                }
            }
            
            img{
                display: block;
            }
        }
    }
    .circlegradient{
        width: min(600px, 100%);
        height: min(600px, 100%);
        background-image: radial-gradient(circle,#450981 -56%,#140D27 69%,rgba(21,14,40,.6616771708683473) 87%);
        border-radius: 50%;
        position: absolute;
        z-index: -1;
    }
    .circlegradient1{
        top: 0;
        left: 0;
    }
    .circlegradient2{
        right: 0;
        width: 400px;
        height: 400px;
        top: 150px;
    }
}


@media (max-width: 1000px) {
    .herosection{
        .circlegradient2{
            display: none;
        }
    }
}


@media (min-width: 1602px) {
    .herosection{
        justify-content: center;
        .circlegradient2{
            right: 400px;
        }
        .circlegradient1{
            left: 200px;
        }
    }
}

@media (max-width: 1330px) {
    .herosection{
        .herosectionwrapper{
            justify-content: flex-start;

            .herosectioncontents{

                .herosectioncontent{
                    .heresectionheadingtext_chain_spark{

                        h1{
                            width: 525px;
                        }

                        .spark_chain{
                            position: static;
                            right: 0;
                            width: 15%;
                        }
                    }
                }
                .timer{
                    width: min(400px, 70%);
                }
            }

            .herosectionimg{
                position: absolute;
                right: 0;
                width: 60%;
            }
        }
    }
}

@media (max-width: 800px) {
    .herosection{
        justify-content: center;

        .herosectionwrapper{
            flex-direction: column;
            align-items: center;
            width: 85%;

            .text-line{
                position: static;
                padding-bottom: 50px;

                h1{
                    font-size: clamp(14px, 4vw, 32px);
                }
            }

            .herosectioncontents{
                margin-bottom: 0px;

                .herosectioncontent{

                    .star{
                        display: none;
                    }

                    .heresectionheadingtext_chain_spark{
                        h1{
                            font-size: 50px;
                            width: 373px;

                            .bulb{
                                width: 40px;
                                top: -40px;
                            }
                        }
                    }

                    p{
                        width: 100%;
                    }
                }

                .timer{
                    .lightstar{
                        display: none;
                    }
                }
            }
            
            .herosectionimg{
                width: 80%;
                position: static;
            }
        }
    }
}

@media (max-width: 535px) {
    .herosection{

        .herosectionwrapper{

            .herosectioncontents{
                .herosectioncontent{
                    .heresectionheadingtext_chain_spark{
                        h1{
                            font-size: $font-30 + 10;
                            width: 299px;

                            .bulb{
                                width: 30px;
                                top: -30px;
                            }
                        }
                    }
                }
            }

            .herosectionimg{
                width: 100%;
            }
        }
    }
}

@media (max-width: 430px) {
    .herosection{

        .herosectionwrapper{
            justify-content: flex-end;
            margin-top: 60px;

            .herosectioncontents{
                align-items: center;
                gap: 15px;
                .herosectioncontent{
                    .star{
                        display: none;
                    }
                    align-items: center;
                    .heresectionheadingtext_chain_spark{
                        display: none;
                    }

                    .heresectionheadingtext_chain_sparkmobile{
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        div{
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            h1{
                                width: 239px;

                                span{   
                                    color: $color-main;
                                }

                            }

                            .spark_chain_mobile{
                                position: static;
                                right: 0;
                                width: 15%;
                            }
                        }
                        h1{
                            position: relative;
                            font-size: $font-30 + 2;
                            font-family: $font-clashdisplay;
                            color: $white;

                            .bulbmobile{
                                width: 18px;
                                position: absolute;
                                right: 20px;
                                top: -20px;
                            }
                        }
                    }

                    p{
                        text-align: center;
                        font-size: $font-16 - 3;
                        width: 265px;
                    }

                    button{
                        margin-top: 14px;
                    }
                }
                .timer{
                    width: 220px;

                    .lightstar{
                        display: none;
                    }

                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}
























































// .herosection{
//     width: 100%;
//     display: flex;
//     align-items: flex-end;
//     justify-content: flex-end;
//     background-color: $background-main;
//     min-height: 110vh;
//     font-family: $font-clashdisplay;

//     .gradient{
//         position: absolute;
//         z-index: 1;
//         left: 20px;
//     }

//     .text-line{
//         position: absolute;
//         top: 18%;
//         right: 100px;
//         display: flex;
//         flex-direction: column;
//         align-items: flex-end;

//         h1{
//             color: $white;
//             font-family: $font-montserrat;
//             font-size: $font-30 ;
//             font-style: italic;
//             font-weight: $font-w-700;
//         }

//         img{
//             width: 220px;
//         }
//     }

//     .herosectionwrapper{
//         z-index: 2;
//         width: min(1415px, 93%);
//         display: flex;
//         justify-content: flex-end;
//         align-items: flex-end;
//         height: 100vh;
//         gap: 20px;

//         .herosectioncontents{
//             align-self: center;
//             width: 600px;
//             display: flex;
//             flex-direction: column;
//             gap: 50px;
//             // background-color: red;

//             .herosectioncontent{
//                 display: flex;
//                 flex-direction: column;
//                 gap: 20px;
//                 align-items: flex-start;
//                 position: relative;

//                 .bulb{
//                     position: absolute;
//                     right: 100px;
//                     top: -40px;
//                     width: 40px;
//                 }

//                 h1{
//                     color: $white;
//                     font-size: $font-50 + 20;
//                     font-family: $font-clashdisplay;
//                     font-weight: $font-w-700;

//                     span{
//                         color: $color-main;
//                     }
//                 }

//                 p{
//                     color: $white;
//                     width: min(520px);
//                     font-size: $font-16 + 2;
//                     font-family: $font-montserrat;
//                     font-weight: $font-w-400;
//                     line-height: 166%;
//                 }
//             }

//         }


//         .herosectionimg{
//             width: min(670px);

//             img{
//                 display: block;
//                 width: 100%;
//             }
//         }
        
//     }
// }


// @media (min-width: 1457px) {
//     .herosection{
//         justify-content: space-between;
    
//         .herosectionwrapper{
    
//             .herosectionimg{
//                 width: min(670px, 50%);
    
//                 img{
//                     display: block;
//                     width: 100%;
//                 }
//             }
            
//         }
//     }
// }



// @media (max-width: 1290px) {
//     .herosection{
//         justify-content: center;
    
//         .herosectionwrapper{
//             justify-content: flex-start;
    
//             .herosectionimg{
//                display: none;
//             }
            
//         }
//     }
// }





