.partners{
    width: 100%;
    display: grid;
    place-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    padding: 100px 0;
    position: relative;

    .partnerswrapper{
        display: flex;
        flex-direction: column;
        width: 85%;
        align-items: center;
        gap: 65px;
        z-index: 2;

        .partnersheader{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;

            h1{
                color: $white;
                font-family: $font-montserrat;
                font-weight: $font-w-700;
                font-size: $font-30 + 2;
                line-height: 27.5px;
            }

            p{
                color: $white;
                font-family: $font-montserrat;
                width: 452px;
                text-align: center;
                font-weight: $font-w-400;
                line-height: 27.5px;
            }
        }

        .partnerscontents{
            width: min(100%, 1255px);
            height: 560px;
            display: grid;
            place-items: center;
            border: 1px solid $color-main;
            border-radius: 5px;

            .partnersimg{
                width: min(900px, 80%);
            }
        }
    }

    .partnersgradient{
        width: min(600px, 100%);
        height: min(600px, 100%);
        background-image: radial-gradient(circle, $gradient-color -56%,#140D27 69%,rgba(21,14,40,.6616771708683473) 87%);
        border-radius: 50%;
        position: absolute;
        z-index: -1;
    }

    .partnersgradient1{
        top: -50px;
        left: -100px;
    }

    .partnersgradient2{
        bottom: -100px;
        right: -100px;
    }
}


@media (max-width: 1160px) {
    .partners{
        .partnerswrapper{
            .partnerscontents{
                height: 450px;
            }
        }
    }
}

@media (max-width: 900px) {
    .partners{
        .partnerswrapper{
            .partnerscontents{
                height: 350px;
            }
        }

        .partnersgradient{
            width: min(400px, 100%);
            height: min(400px, 100%);
        }
    }
}

@media (max-width: 700px) {
    .partners{
        .partnerswrapper{
            width: 75%;
            .partnerscontents{
                height: auto;
                padding: 50px 20px;
            }
        }
    }
}

@media (max-width: 500px) {
    .partners{
        padding: 50px 0;
        .partnerswrapper{
            .partnersheader{
                h1{
                    font-size: $font-16 + 4;
                }

                p{
                    font-size: $font-16 - 4;
                    width: 300px;
                }
            }
        }

        .partnersgradient{
            width: min(300px, 100%);
            height: min(300px, 100%);
        }
    }
}