.privacy{
    width: 100%;
    display: grid;
    place-items: center;
    padding: 100px 0;
    position: relative;

    .privacywrapper{
        width: min(1256px, 85%);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 30px;

        .privacycontents{
            display: flex;
            flex-direction: column;
            gap: 70px;
            width: min(569px, 60%);

            .privacyheader{
                display: flex;
                flex-direction: column;
                gap: 17px;

                h1{
                    width: 300px;
                    color: $white;
                    font-size: $font-30 + 2;
                    font-family: $font-clashdisplay;
                    font-weight: $font-w-700;
                    position: relative;

                    .star{
                        position: absolute;
                        right: -50px;
                        width: 26px;
                        top: -20px;
                    }

                    span{
                        color: $color-main;
                    }
                }

                p{
                    color: rgba(255, 255, 255, 0.75);
                    font-weight: $font-w-400;
                    font-size: $font-16 - 2;
                    font-family: $font-montserrat;
                    width: 440px;
                }

                .privacyheaderparagraph{
                    color: $white;
                    margin-top: 14px;
                }
            }

            .privacycontent{
                width: min(570px, 100%);
                min-height: 608px;
                border: 1px solid $color-main;
                border-radius: 5px;
                background: rgba(217, 217, 217, 0.03);
                display: grid;
                place-items: center;
                padding: 20px 0;
                position: relative;

                .purplestar{
                    position: absolute;
                    left: -40px;
                }

                .privacycontentwrapper{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 24px;
                    width: 80%;

                    .privacycontentparagraph{
                        width: min(425px, 95%);
                        font-size: $font-16 - 2;
                        line-height: 216.4%;
                        font-family: $font-montserrat;
                        font-weight: $font-w-400;
                        color: $white;
                    }
    
                    .privacycontenttexts{
                        width: min(455px, 95%);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 20px;

                        .privacycontenttext{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            align-self: flex-start;

                            h3{
                                font-size: $font-16;
                                font-family: $font-montserrat;
                                color: $color-main;
                                font-weight: $font-w-700;
                            }
    
                            h4{
                                font-size: $font-16 - 2;
                                font-family: $font-montserrat;
                                color: $white;
                                font-weight: $font-w-700;
                            }
                        }

                        .checks{
                            display: flex;
                            align-items: flex-start;
                            gap: 14px;

                            img{
                                margin-top: 7px;
                            }

                            p{
                                color: $white;
                                font-size: $font-16 - 2;
                                font-weight: $font-w-400;
                                font-family: $font-montserrat;
                                line-height: 216.4%;
                            }
                        }
                    }
                }
            }
        }

        .privacyimg{
            width: min(615px, 60%);
            position: relative;

            .purpleimgstar{
                position: absolute;
                width: 23px;
                top: 100px;
                left: -50px;
            }

            img{
                width: 100%;
                display: block;
            }
        }
    }

    .privacypolicygradient{
        width: min(600px, 100%);
        height: min(600px, 100%);
        background-image: radial-gradient(circle, $gradient-color -56%,#140D27 69%,rgba(21,14,40,.6616771708683473) 87%);
        border-radius: 50%;
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: -50px;
    }
}


@media (max-width: 850px) {
    .privacy{
    
        .privacywrapper{
            flex-direction: column;
            align-items: center;
    
            .privacycontents{
                width: 100%;
                align-items: center;
    
                .privacycontent{
                    width: 90%;
                }
            }
    
            .privacyimg{
                width: 70%;

                .purpleimgstar{
                    left: -100px;
                }
            }
        }
        
        .privacypolicygradient{
            top: 700px;
            width: min(500px, 100%);
            height: min(500px, 100%);
        }
    }
}

@media (max-width: 550px) {
    .privacy{
    
        .privacywrapper{
    
            .privacycontents{
    
                .privacyheader{
                    align-items: center;
                    gap: 5px;

                    h1{
                        text-align: center;
                        font-size: $font-16 + 4;
                        width: 188px;
                    }

                    p{
                        text-align: center;
                        width: 90%;
                        font-size: $font-16 - 4;
                    }
                }
            }
    
            .privacyimg{
                width: 90%;

                .purpleimgstar{
                    width: 17px;
                }
            }
        }
        .privacypolicygradient{
            top: 400px;
            width: min(400px, 100%);
            height: min(400px, 100%);
        }
    }
}

@media (max-width: 1190px) {
    .privacy{
        .privacywrapper{
            .privacyimg{
                .purpleimgstar{
                    left: -10px;
                }
            }
        }
    }
}