.rules{
    width: 100%;
    display: grid;
    place-items: center;
    min-height: 95vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    position: relative;
    // overflow-x: hidden;

    .ruleswrapper{
        width: min(1256px, 85%);
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 30px;

        .rulescontents{
            width: min(535px);
            display: flex;
            flex-direction: column;
            gap: 16px;
            position: relative;

            .rulesstar{
                width: 26px;
                top: -50px;
                position: absolute;
                left: 250px;
            }

            h1{
                width: min(180px);
                font-family: $font-clashdisplay;
                color: $white;
                font-size: $font-30 + 2;
                font-weight: $font-w-700;

                span{
                    color: $color-main;
                }
            }

            p{
                font-family: $font-montserrat;
                color: $white;
                font-size: $font-16 - 2;
                font-weight: $font-w-400;
                line-height: 27.5px;
            }

            .mobilerulesstar{
                display: none;
            }
        }

        .rulesimg{
            width: min(600px, 60%);
            // background-color: red;

            img{
                width: 100%;
                display: block;
            }
        }
    }

    .rulesgradient{
        width: min(600px, 100%);
        height: min(600px, 100%);
        background-image: radial-gradient(circle,$gradient-color -56%,#140D27 69%,rgba(21,14,40,.6616771708683473) 87%);
        border-radius: 50%;
        position: absolute;
        z-index: -1;
    }
    
    .rulesgradient1{
        top: -100px;
        left: 0;
    }

    .rulesgradient2{
        width: min(800px, 100%);
        height: min(800px, 100%);
        right: -500px;
        bottom: -200px;
    }
}


@media (max-width: 800px) {
    .rules{
        padding: 50px 0;
    
        .ruleswrapper{
            flex-direction: column-reverse;
    
            .rulescontents{
                width: 80%;
            }
    
            .rulesimg{
                width: min(600px, 70%);

            }
        }
    }
}

@media (max-width: 700px) {
    .rules{
        .ruleswrapper{
            .rulescontents{
                .rulesstar{
                    top: 30px;
                }
            }
        }
        .rulesgradient2{
            right: -200px;
            width: 500px;
            height: 500px;
        }
    }
}

@media (max-width: 450px) {
    .rules{
    
        .ruleswrapper{
    
            .rulescontents{
                align-items: center;
                width: 95%;

                .rulesstar{
                    top: 50px;
                    left: 260px;
                    width: 12px;
                }

                h1{
                    font-size: $font-16 + 4;
                    text-align: center;
                }

                p{
                    text-align: center;
                    font-size: $font-16 - 4;
                }

                .mobilerulesstar{
                    position: absolute;
                    display: block;
                    bottom: -30px;
                    left: 50px;
                }
            }
    
            .rulesimg{
                width: min(90%);
            }
        }

        .rulesgradient1{
            top: -20px;
            left: -80px;
            width: 300px;
            height: 300px;
        }

        .rulesgradient2{
            bottom: 128px;
            right: -167px;
            width: 400px;
            height: 400px;
        }
    }
}
