.timeline{
    width: 100%;
    display: grid;
    place-items: center;
    padding: 60px 0;
    margin-bottom: 100px;

    .timelinewrapper{
        width: min(1256px, 85%);
        display: flex;
        flex-direction: column;
        gap: 90px;
        align-items: center;

        .timelineheader{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;

            h1{
                color: $white;
                font-family: $font-clashdisplay;
                font-size: $font-30 + 2;
                font-weight: $font-w-700;
            }

            p{
                text-align: center;
                width: min(345px, 100%);
                color: $white;
                font-family: $font-montserrat;
                font-size: $font-16 - 2;
                line-height: 172.4%;
            }
        }

        .timelinecontents{
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;

            .timelinecontent{
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: flex-start;
                height: 170px;

                div{
                    width: min(520px, 45%);
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    align-self: flex-end;

                    h2{
                        font-size: $font-30 - 6;
                        font-family: $font-montserrat;
                        color: $color-main;
                        font-weight: $font-w-700;
                    }

                    p{
                        color: $white;
                        font-size: $font-16 - 2;
                        font-family: $font-montserrat;
                        line-height: 170.9%;
                        font-weight: $font-w-400;
                    }
                }

                div:nth-of-type(1){
                    
                    h2, p{
                        text-align: right;
                    }
                }

            }

            .timelinecontent1{
                height: 220px;

                .firstdiv{
                    position: relative;

                    .purplestar{
                        position: absolute;
                        width: 30px;
                        left: 200px;
                        top: -100px;
                    }
                }

            }

            
            .timelinecontent3{

                .thirddiv{
                    position: relative;

                    .lightstar{
                        position: absolute;
                        width: 26px;
                        right: 150px;
                        top: -50px;
                    }
                }

                div:nth-of-type(1){
                    align-items: flex-end;

                    p{
                        width: 388px;
                        align-items: flex-end;
                    }
                }

                div{
                    .date{
                        margin-bottom: 30px;
                    }
                }
            }

            .timelinecontent1, .timelinecontent2, .timelinecontent3, .timelinecontent4, .timelinecontent5, .timelinecontent6{

                div{
                    .date{
                        margin-bottom: 30px;
                    }
                }
            }

            .star{
                width: 26px;
                position: absolute;
                bottom: 0;
                left: 50px;
            }
        }

        .timelinecontentsmobile{
            display: none;
        }
    }
}

@media (min-width: 799px) and (max-width: 900px) {
    .timeline{
        .timelinewrapper{
            width: 95%;

            .timelinecontents{

                .timelinecontent{
                    div{
                        h2{
                            font-size: $font-16 + 3;
                        }
                    }

                }
            }
        }
    }
}

@media (max-width: 800px) {
    .timeline{
        .timelinewrapper{
            width: 95%;

            .timelinecontents{
                display: none;
            }

            .timelinecontentsmobile{
                display: flex;
                flex-direction: column;
                gap: 36px;
                width: 90%;
                position: relative;

                .timelinecontentmobile{
                    display: flex;
                    align-items: flex-end;
                    gap: 17px;

                    .timelinecontentmobileimg{

                        img{
                            width: 37px;
                        }

                    }

                    .big-img{
                        width: 33px;
                    }

                    .timelinecontentmobiletext{
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        margin-bottom: 13px;
                        width: min(350px, 100%);
                        position: relative;

                        .purplestar{
                            position: absolute;
                            top: -40px;
                            width: 14px;
                        }

                        h2{
                            font-size: $font-16 + 4 ;
                            font-family: $font-montserrat;
                            color: $color-main;
                            font-weight: $font-w-700;
                        }

                        p{
                            color: $white;
                            font-size: $font-16 - 2;
                            font-family: $font-montserrat;
                            line-height: 170.9%;
                            font-weight: $font-w-400;
                        }
                    }
                }

                .timelinecontentmobile4{

                    .timelinecontentmobiletext{
                        position: relative;
                        
                        .lightstar{
                            position: absolute;
                            top: -30px;
                            right: 50px;
                            width: 14px;
                        }
                    }
                    
                }

                .star{
                    width: 14px;
                    position: absolute;
                    bottom: -50px;
                    left: 10px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .timeline{
        .timelinewrapper{
            .timelinecontentsmobile{
                .timelinecontentmobile{
                    .timelinecontentmobiletext{
                        h2{
                            font-size: $font-16;
                        }
                    }
                }
            }
        }
    }
}