@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

// Styles Variables
$font-16: 16px;
$font-30: 30px;
$font-50: 50px;
$font-montserrat: 'Montserrat', sans-serif;
$font-clashdisplay: 'Clash Display', sans-serif;
$white:  white;
$color-main: #D434FE;
$font-w-400: 400;
$font-w-700: 700;
$font-w-600: 600;
$background-main: #140D27;