@import "variable";


*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body{
    // height: 1500vh;
    background-color: $background-main;
}


// Importing Components
@import "components/buttons";
@import "components/Header";
@import "components/HeroSection";
@import "components/IntroSection";
@import "components/Rules";
@import "components/Criteria";
@import "components/FAQ";
@import "components/TimeLine";
@import "components/Rewards";
@import "components/Partners";
@import "components/PrivacyPolicy";
@import "components/Footer";
@import "components/Modal";

// Importing Pages
@import "Pages/Contacts";
@import "Pages/Register"
